<!--# О модуле. #-->
<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="about1" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
            <h4 class="modal-title">XiaoZhi AI</h4>
         </div>
         <div class="modal-body" style="padding-bottom: 1px;">
            <div class="float-right">
               <img src="../img/modules/mcp.png"  width="48" height="48">
               <br><br><p><b>v [#VERSION#]</b><br>[#DATA_V#]</p>
            </div>
            <p class="float-left">
               Модуль поддержки <b>личных</b> (приватных) навыков для платформы умного дома <b>XiaoZhi</b>.<br><br>
               Документация в <a href="https://kb.mjdm.ru/mcp_help/" target="_blank">Базе знаний</a>.<br>
               Обсуждение модуля в <a href="https://t.me/+F-TMDls612szN2My" target="_blank">telegram</a>.<br>
               Проект в <a href="https://github.com/golnet1/majordomo-mcp" target="_blank">Github</a>.<br>
               Проект в <a href="https://connect.smartliving.ru/addons/category1/306.html" target="_blank">Connect</a>.<br>
            </p>
            <hr size="1">
            <p class="float-left">
               Поддержать разработку и развитие модуля:
               <ul>
                  <li>Yandex: <a href="https://yoomoney.ru/to/4100130728468" target="_blank">4100130728468</a></li>
                  <li>Внутренний счет в <a href="https://connect.smartliving.ru/tasks/928.html" target="_blank">Connect</a></li>
               </ul>
            </p>
            <h6>
               Благодарности: <b>skysilver</b>и всем кто ему помогал с модулем Yandex Home.
            </h6>
         </div>
         <div class="modal-footer" style="margin-top: 1px;">
            <div class="pull-left">Автор: <a href="https://telegram.me/golnet96" target="_blank">Олег Малов</a></div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
         </div>
      </div>
   </div>
</div>
